*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;  
}

.nav-container{
    background-color: grey;
    left: 0;
    right: 0;
    position: absolute;
}


.NavWrapper nav{
    margin: 0;
    padding: 0;
}

.NavWrapper nav ul {
    list-style: none;
    display: flex;
}

.NavWrapper nav ul li{
    list-style: none;
}
.NavWrapper nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.NavWrapper .BrandLogo{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.HamburgerNav {
    right: 0;
}

.HamburgerNav ul{
    display: flex;
}

.HamburgerNav .hamburger-navbar-links ul li{
    padding: 10px;
    display: block;
}

.HamburgerNav .hamburger-navbar-links ul li a{
    color: black
}

.HamburgerNav .toggle-button{
    height: 45px;
    width: 65px;
    background-image: url(/img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: none;
    right: 0;
    top: .75rem;
    flex-direction: column;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .HamburgerNav{
        opacity: 0.6;
    }
    .HamburgerNav .toggle-button{
        display: flex;
    }

    .HamburgerNav .hamburger-navbar-links {
        display: none;
        width: 100%;
    }

    .HamburgerNav nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .HamburgerNav .hamburger-navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .HamburgerNav .hamburger-navbar-links li {
        text-align: center;
    }
    .HamburgerNav .hamburger-navbar-links li a{
        padding: .5rem 1rem;
    }

    .HamburgerNav .hamburger-navbar-links ul li a{
        color: black;
    }
    .HamburgerNav .hamburger-navbar-links ul li a:hover{
        color: white;
    }
    .hamburger-navbar-links.active{
        display: flex;
    }
}